.bg {
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 800px;
     background-size: cover;
     background-position: center;
     will-change: opacity;
   }
.image-container {
     height: 700px;
     
}
.image-animate {
     z-index: 10;
}
.text-container {
     width: 600px;
     height: 500px;
     margin-left: -300px;
     margin-top: -200px;
     top: 50%;
     left: 50%;
     z-index: 100;
     position: absolute;
}

#text-l1 {
     color:#49ffbd; 
     font-Size:100px;
     margin-Bottom:-30px;
     font-weight: bold;
     transform: rotate(-11deg);
}
#text-l2 {
     color:#49ffbd; 
     font-Size:100px;
     font-weight: bold;
     transform: rotate(-11deg);
}
#text-l3 {
     color: #fb009e;
     font-size: 200px;
     font-weight: bold;
     transform: rotate(-11deg);
}
   
@media screen and (max-width: 960px) {
     .NavbarItems {
       position: relative;
       
     }
     #text-l1 {
          color:#49ffbd; 
          font-Size:50px;
          margin-Bottom:10px;
          font-weight: bold;
     }
     #text-l2 {
          color:#49ffbd; 
          font-Size:50px;
          margin-Bottom:10px;
          font-weight: bold;
     }
     #text-l3 {
          color: #fb009e;
          font-size: 100px;
          font-weight: bold;
     }
     .text-container {
          width: 600px;
          height: 500px;
          margin-left: -300px;
          margin-top: -200px;
          top: 50%;
          left: 50%;
          z-index: 100;
          position: absolute;
          
          
     }
}